:root{
    --cor-fundo: #00034A;
    --cor-fundo: #3D96C6;
    --cor-fundo: #96DBE6;
    --cor-fontes: #FFFFFF;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
}
.imagem-cabecalho{
    width: 1%;
}
